.host {
  width: 937px;
  height: 99px;
  margin-top: 57px;
  margin-left: 4px;
  display: flex;
}

.host_label_name {
  width: 286px;
  text-align: center;
  margin: 0 0 8px 41px;
  color: #02244B;
  font-family: Roboto;
  font-size: 16px;
}

.host_input_1 {
  display: flex;
  align-items: center;
}

.host_label_email {
  width: 286px;
  text-align: center;
  margin: 0 0 8px 55px;
  color: #02244B;
  font-family: Roboto;
  font-size: 16px;
}

.host_input_2 {
  width: 565px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 55px;
}

.participant_number {
	height: 40px;
	width: 23px;
	color: #FFFFFF;
	font-family: Eczar;
	font-size: 59px;
  font-weight: 500;
  margin: 0;
  line-height: 52px;
  padding-right: 18px;
}

.host_info_warning {
	height: 15px;
	color: #FF4946;
	font-family: Roboto;
  font-size: 16px;
} 

/* ----------- ADD ------------- */

.participant {
  display: flex;
  flex-direction: column;
}

.participant_block {
  width: 917px;
}

.participant_label {
  height: 15px;
  color: #02244B;
  font-family: Roboto;
  font-size: 16px;
  padding: 40px 0 18px 45px;
  display: flex;
}

.participant_label_name {
  height: 15px;
  width: 286px;
}

.participant_label_email {
  height: 15px;
  width: 286px;
  padding-left: 55px;
}

.participant_input {
  padding-left: 4px; 
  display: flex;
  align-items: center;
}

.participant_input_name {
  display: flex;
  align-items: center;
}

.participant_input_email {
  width: 521px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 55px;
}

.btn_add {
  display: block;
  height: 130px;
  width: 276px;
  padding: 64px 0 0 44px;
}
